@model DaGetV2.Gui.Models.BankAccountDetailModel
@using System.Globalization

@{
    Layout = "_layout";
}

@await Html.PartialAsync("_modelError", Model)

<div class="row">

    <div class="row">
        <h3>@Model.BankAccountWording</h3>
        <div class="col s12 m12 l6 xl6">
            @await Html.PartialAsync("_dateManager", Model)
        </div>
        <div class="col s12 m12 l6 xl6">
            @await Html.PartialAsync("_incomeAndOutcomeGraph", Model)
        </div>
    </div>

    <hr />

    <table>
        <thead>
            <tr>
                <th>Opération</th>
                <th>Type</th>
                <th>Date</th>
                <th>Crédit</th>
                <th>Débit</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var operation in Model.Operations)
            {
                <tr>
                    <td>@operation.Wording</td>
                    <td>@operation.OperationTypeWording</td>
                    <td>@operation.OperationDate.ToShortDateString()</td>
                    <td>@(operation.Amount >= 0 ? Html.Euro(operation.Amount) : Html.Raw(string.Empty))</td>
                    <td>@(operation.Amount < 0 ? Html.Euro(operation.Amount) : Html.Raw(string.Empty))</td>
                    <td>
                        @if (operation.IsClosed)
                        {
                            <a class="waves-effect waves-light btn-small grey lighten-2">Ouvrir</a>
                        }
                        else
                        {
                            <a class="waves-effect waves-light btn-small" onclick="closeOperation('@operation.Id')">Clore</a>
                            <a class="waves-effect waves-light btn-small">Modifier</a>
                            <a class="waves-effect waves-light btn-small">Supprimer</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts{
    <script src="~/js/bankAccountDetail.js"></script>  
}