@model DaGetV2.Gui.Models.BankAccountModel
@using System.Linq;

@{
    Layout = "_layout";
}

@await Html.PartialAsync("_modelError", Model)

<h3>Création d'un nouveau compte en banque</h3>

<form action="Create" id="bankAccountForm" method="post">

    @{
        int count = 0;
        @foreach (var bankAccountType in Model.BankAccountTypes)
        {
            <input type="hidden" name="BankAccountTypes[@count].Key" value="@bankAccountType.Key" />
            <input type="hidden" name="BankAccountTypes[@count].Value" value="@bankAccountType.Value" />
            count++;
        }
    }

    <div id="operationTypesToPost">
        @{
            count = 0;
            @foreach (var operationType in Model.OperationTypes)
            {
                <input type="hidden" name="OperationTypes[@count].Key" value="@operationType.Key" />
                <input type="hidden" name="OperationTypes[@count].Value" value="@operationType.Value" />
                count++;
            }
        }
    </div>


    <div class="row">
        <div class="col s6">
            <div class="section">
                <h5>Informations générales</h5>
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(model => model.Wording, new { type = "text", @class = "validate" })
                @Html.LabelFor(model => model.Wording)
                @Html.ValidationMessageFor(model => model.Wording, "", new { @class = "red-text text-darken-4" })
            </div>

            <div class="input-field col s12">
                @Html.TextBoxFor(model => model.InitialBalance, new { type = "number", step = "0.01", @class = "validate" })
                @Html.LabelFor(model => model.InitialBalance)
                @Html.ValidationMessageFor(model => model.InitialBalance, "", new { @class = "red-text text-darken-4" })
            </div>

            <div class="input-field col s12">
                @Html.DropDownListFor(model => model.BankAccountTypeId, Model.BankAccountTypes.Select(bat => new SelectListItem(bat.Value, bat.Key.ToString())))
                @Html.LabelFor(model => model.BankAccountTypeId)
                @Html.ValidationMessageFor(model => model.BankAccountTypeId, "", new { @class = "red-text text-darken-4" })
            </div>
        </div>
        <div class="col s6">
            <div class="section">
                <h5>Types d'opérations</h5>
            </div>

            <table class="striped">
                <thead>
                    <tr>
                        <th>
                            Libellé
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="operationTypeTableBody">
                    @foreach (var operationType in Model.OperationTypes)
                    {
                        <tr>
                            <td>
                                <input type="hidden" id="operationTypeId" value="@operationType.Key" />
                                <input type="text" id="operationTypeWording" class="form-control" value="@operationType.Value" />
                            </td>

                            <td>
                                <span><i onclick="deleteOperationType(this)" class="material-icons md-36" style="cursor: pointer;">delete_outline</i></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button id="addOperationType" type="button" class="waves-effect waves-light btn-small">Nouveau type d'opération</button>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <a href="/Home/Index" class="btn btn-block btn-large waves-effect waves-light">Annuler</a>
        </div>
        <div class="col s6">
            <a id="postForm" class="btn btn-block btn-large waves-effect waves-light">Valider</a>
        </div>
    </div>

</form>

@section Scripts{
    <script src="~/js/bankAccount.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
}
